head, body{
	margin: 0;
	padding: 0;
}
header{    /*This is top header section of the site which will show time*/
	background-color: #021738;
	padding: 2%;
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #cfd2d6;

}
.mainheader{
	display: flex;

}
.header1{
	width: 40%;
}
.header2{
	width: 55%;
	background-color: #f44485;
	padding: 2%;
	color: white;
	justify-content: flex-end;
	text-align: center;
	font-size: 40px;
	margin-top: 5px;
	margin-left: 5%;
	margin-right: 5px;
}
nav{
	width: 95%;
	text-align: center;
	border-radius: 30px;
	margin-top: 50px;
	margin-left: 20px;
	height: 55px;
	border-style: solid;
	border-width: 2px;

}
nav ul{
	
	display: flex;
	padding-bottom: 5px;

	
/*}
.search{
	margin-left: 100px;*/
}
button{
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	font-family:  'Alegreya Sans SC', sans-serif;
}
nav ul li{
	list-style: none;
	margin: 0.5%;
	font-size:17px;

}
nav ul li a{
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: bold;
	color: black;
	padding: 10px;
	border-radius: 15px 2px 2px 2px;
	transition: 0.3s;

}
nav ul li a:hover{
	color: #3647f9;

}
section{
	display: flex;
}
.left{

	margin:5px;
	position: relative;
	width: 50%;
	height: 0;
	padding-bottom: 35%;
	background-color: #4c4c4c;

}
.slider_image{
	position: absolute;
	width: 100%;
	height: 100%;

}
.slider_image img{
	width: 100%;
	height: 100%;
	transition: 0.3s;
	opacity: 1;
}
.slider_image img:hover{
	opacity: .5;
}
#i1, #i2, #i3, #i4{
	display: none;
}
.pre, .nxt{
	width: 12%;
	height: 100%;
	position: absolute;
	top: 0;
	background:rgba(88, 88, 88,.4);
	z-index: 99;
	cursor: pointer;
}
.pre{
	left: 0;
}
.nxt{
	right: 0;
}
.slider_nav{
	width: 100%;
	height: 11px;
	bottom: 12%;
	position: absolute;
	text-align: center;
	z-index: 99;

}
.dots{
	top: -5px;
	width: 18px;
	height: 18px;
	margin: 0 4px;
	position: relative;
	border-radius: 50%;
	display: inline-block;
	background: rgba(0, 0, 0,.4);
}
.slider_image{
	z-index: -1;  /*Uses the z-index property to show and hide image on slider.
*/
}
#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four{
	z-index: 9; /* Uses the z-index property to show and hide image on slider.*/

}
#i1:checked ~ .slider_nav #dot1,
#i2:checked ~ .slider_nav #dot2,
#i3:checked ~ .slider_nav #dot3,
#i4:checked ~ .slider_nav #dot4{
	background: #fff;
}


.right{
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 5px;
	display: grid;
	width: 50%;
	grid-template-rows: "auto auto";
	grid-gap: 5px;

}
.box1{
	grid-column: 1/ span 2;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box1 img{
	width: 100%;
	height: 100%;
	transition: 0.3s;
	
}
.box1 img:hover{
	transform: scale(1.2);
	transition: 0.3s;
}
.box2{

	width: 100%;
	height: 100%;
	overflow: hidden;
	
}

.box2 img{
	width: 100%;
	height: 100%;
	transition: 0.3s;
}
.box2 img:hover{
	transform: scale(1.2);
	transition: 0.3s;
}
.box3{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.box3 img{
	width: 100%;
	height: 100%;
	transition: 0.3s;
}
.box3 img:hover{
	transform: scale(1.2);
	transition: 0.3s;
}
.main{
	display: flex;
}
.content{
	width: 70%;
	margin-left: 20px;
	padding-bottom: 30%;

}
h4{
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 40px;
	margin-left: 20%;
	margin-right: 43%;
	padding-left: 20px;
}
.news1{
	display: flex;
	padding-left: 20px;
	box-shadow: 2px 2px 2px 2px grey;

}
.news1 .imagebar img{
	padding-top: 20px;
	width: 322px;
	height: 252px;
}
.news2{
	display: flex;
	padding-left: 20px;
	box-shadow: 2px 2px 2px 2px grey;
}
.news2 .image-bar img{
	padding-top: 20px;
	width: 322px;
	height: 252px;
}
.news3{
	display: flex;
	padding-left: 20px;
	box-shadow: 2px 2px 2px 2px grey;
}
.news3 .image-bar img{
	padding-top: 20px;
	width: 322px;
	height: 252px;

}
.news4{
	display: flex;
	padding-left: 20px;
	box-shadow: 2px 2px 2px 2px grey;
}
.news4 .image-bar img{
	padding-top: 20px;
	width: 322px;
	height: 252px;
}
.news5{
	display: flex;
	padding-left: 20px;
	box-shadow: 2px 2px 2px 2px grey;
}
.news5 .image-bar img{
	padding-top: 20px;
	width: 322px;
	height: 252px;
}
h3{
	font-size: 25px;
	margin: 5px;
}
h5{
	font-size: 15px;
	text-align: center;
	margin: 15px;
}
p{
	font-size: 20px;
	margin: 0;
	padding-left: 20px;
}
a h6{
	padding: 1px;
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-family: 'Alegreya Sans SC', sans-serif;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	text-align: right;
	margin-left: 80%;
	margin-right: 4%;
	margin-top: -10px;
}
a h6:hover{
	color: #3647f9;
}
a{
	text-decoration: none;
}
.showmore{
	text-decoration: none;
	text-align: center;
	font-size: 30px;
	font-family: 'Alegreya Sans SC', sans-serif;
	padding: 15px;
	border-style: solid;
	border-width: 3px;
	border-radius: 5px;
	transition: 0.3s;
}
.showmore:hover{
	background-color: #21c7ff;
	color: white;
}
.sidebar{
	width:30%;
	margin-top: 150px;
	margin-left: 50px;
	margin-right: 30px;
	padding-left: 20px;
	margin-bottom: 100%;
	box-shadow: 2px 2px 2px 2px grey; 
}
.item1{
	margin-top: 20px;
	background-color: #f44485;
	text-align: center;
	color: white;
	font-size: 20px;
	padding:100px;
	margin-right: 20px;

}
.item2 h4{
	font-size: 20px;

}
.item2 li{
	font-size: 20px;
	font-style: bold;
	font-family: 'Alegreya Sans SC', sans-serif;
	padding-bottom: 5px;
	text-shadow: 0.6px 0.6px;
}
.item2 p{
	font-size: 15px;
	padding-bottom: 35px;
}
.item2 li a:hover{
	color: #3647f9;

}
.item2 li a{
	text-decoration: none;
	color: black;
}
.item3{
	font-size: 20px;
	font-family: 'Alegreya Sans SC', sans-serif;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 10px;
	margin-right: 20px;
}
.item3 a{
	text-decoration: none;
	color: black;
}
.item3:hover{
	background-color: #21c7ff;
	color: white;

}

footer{
	/*margin-top: -250px;*/
}
.footer1{
	display: flex;
	background-color: #021738;
	justify-content: center;

}
.footer1 img{
	width: 30px;
	height: 30px;
	padding: 15px;
	border-radius: 20px;
	transition: 0.3s;
}
.footer1 img:hover{
	width: 30px;
	height: 30px;
	background-color: #fff9d3;
	border-radius: 30px;
}
.footer2 .class1 img{
	margin-top: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}
.class2{
	padding-top: 10px;
	text-align: center;
	font-size: 10px;
	font-family: 'Alegreya Sans SC', sans-serif;
}
@media screen and (max-width: 950px){

	.mainheader{
		flex-direction: column;
	}
	.header1 {
		width: 96%;
		margin: 1%;
	}
	.header2{
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 80px;
		padding-right: 80px;
	}
	nav ul {
		justify-content: center;
	}
	nav ul li{
		/*padding-bottom: auto;*/
		/*width: 96%;*/
		/*padding: 1%;*/
		/*margin: 1%;*/
	}


	section{
		flex-direction: column;

	}
	.left{
		margin-right: auto;
		margin-left: auto;
		display: block;
		margin-bottom: 50px;
		margin-top: 50px;
	}
	.right{
		margin-right: auto;
		margin-left: auto;
	}
	.main{
		flex-direction: column;
		margin-left: 50px;
	}
	.news1{
		flex-direction: column;
	}
	.news2{
		flex-direction: column;
	}
	.news3{
		flex-direction: column;
	}
	.news4{
		flex-direction: column;
	}
	.news5{
		flex-direction: column;
	}
	.sidebar{
		padding-right: 50px;
		margin-top: -100px;
		margin-left: 100px;
	/*}
	.footer2 .class1 img{
		margin: 5px;
	}*/
}