head, body{
	margin: 0;
	padding: 0;
}
header{    /*This is top header section of the site which will show time*/
	background-color: #021738;
	padding: 2%;
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #cfd2d6;

}
.mainheader{
	display: flex;

}
.header1{
	width: 40%;
}
.header2{
	width: 55%;
	background-color: #f44485;
	padding: 2%;
	color: white;
	justify-content: flex-end;
	text-align: center;
	font-size: 40px;
	margin-top: 5px;
	margin-left: 5%;
	margin-right: 5px;
}
nav{
	width: 95%;
	text-align: center;
	border-radius: 30px;
	margin-top: 50px;
	margin-left: 20px;
	height: 55px;
	border-style: solid;
	border-width: 2px;
}
nav ul{
	
	display: flex;
	padding-bottom: 5px;

	
}
button{
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	font-family:  'Alegreya Sans SC', sans-serif;
}
nav ul li{
	list-style: none;
	margin: 0.5%;
	font-size:17px;

}
nav ul li a{
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: bold;
	color: black;
	padding: 10px;
	border-radius: 15px 2px 2px 2px;
	transition: 0.3s;

}
nav ul li a:hover{
	color: #3647f9;
}































footer{
	margin-top: 250px;
}
.footer1{
	display: flex;
	background-color: #021738;
	justify-content: center;

}
.footer1 img{
	width: 30px;
	height: 30px;
	padding: 15px;
	border-radius: 20px;
	transition: 0.3s;
}
.footer1 img:hover{
	width: 30px;
	height: 30px;
	background-color: #fff9d3;
	border-radius: 30px;
}
.footer2 .class1 img{
	margin-top: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}
.class2{
	padding-top: 10px;
	text-align: center;
	font-size: 10px;
	font-family: 'Alegreya Sans SC', sans-serif;
}